doctype html
html(lang="en" ng-app="pyfora")
  head
    title= 'PYFORA'

    link(rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous")
    link(rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
         integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
         crossorigin="anonymous")
    script(src='/js/angular.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/socket.js')
    script(src="https://www.promisejs.org/polyfills/promise-6.1.0.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src='/js/all.min.js')

    script.
      var pyfora_version = "#{version}";

    style.
      body {margin-top: 10px;}

  body
    div.container(ng-controller="DashboardController")
      p {{message}}
      p(ng-if="cluster_status").
        Workers: {{cluster_status.workerCount}}

      div(subscribable='{"cumulus": {"properties": ["viewOfCumulusSystem"]}}')
        dl.dl-horizontal
          div(ng-repeat="(key, value) in cumulus.viewOfCumulusSystem")
            dt {{key}}
            dd {{value}}

