doctype html
html
  head
    title Ufora Invitation
  body
    .page-wrapper
      table.page-margin(cellpadding='0', cellspacing='0', width='700')
        tbody
          tr
            td
              table.page-border(cellpadding='0', cellspacing='0', width='700')
                tbody
                  tr
                    td(align='center', valign='top')
                      br
                      br
                      table(border='0', cellpadding='0', cellspacing='0', width='600')
                        tbody
                          tr
                            td(align='left', valign='middle')
                              a(href='http://www.ufora.com', target='_blank')
                                img(src='cid:logo-horizontal', alt='Ufora logo')
                      br
                      hr
                      br
                      table(border='0', cellpadding='0', cellspacing='0', width='600')
                        tbody
                          tr
                            td(align='left')
                              p.caption
                                | #{first_name} #{last_name}, welcome to Ufora! You have been invited to activate your Ufora account.
                            td(align='right', width='275')
                              table(border='0', cellpadding='0', cellspacing='0', height='50', width='200')
                                tbody
                                  tr
                                    td(align='center', bgcolor='#a5d9c9', height='40', width='700')
                                      p.join-button(height='100%', width='100%')
                                        a.join-button-anchor(align='center', href='https://#{host}/signup?invite=#{invite_code}', target='_blank')
                                          | Get Started
                      br
                      hr
                      br
                      table(border='0', cellpadding='0', cellspacing='0', width='600')
                        tr
                          td(align='left', valign='bottom')
                            p
                              | In the future, you will be able to access Ufora by pointing your Chrome browser to 
                              a(href='https://#{host}') https://#{host}/
                              | . For support requests or feedback, please contact us at 
                              a(href='mailto:support@ufora.com') support@ufora.com
                              | .
                      table(border='0', cellpadding='0', cellspacing='0', width='600')
                        tbody
                          tr
                            td(align='left')
                      br
                      hr
                      br
                      table(border='0', cellpadding='0', cellspacing='0', width='600')
                        tbody
                          tr
                            td(align='left')
                              h3 Getting Started with Ufora:
                          tr
                            td(align='left')
                              p
                                | To familiarize yourself with the Ufora interface, check out the 
                                a(href="http://kb.ufora.com/img/Ufora-UI-Guide-2014-Feb-19.pdf") Ufora UI Guide
                                | .
                              p
                                | The 
                                a(href="http://kb.ufora.com/index/tutorials.html") Ufora Tutorials
                                |  give an overview of common tasks such as working with datasets, plotting, etc.
                                | You can find several demo projects by navigating to "PROJECTS > DEMOS" at the top of the window.
                                | Demo projects are read only, so you will need to Duplicate them to make changes
                              p
                                | Our full set of documentation is available at 
                                a(href="http://kb.ufora.com/") kb.ufora.com
                                |  where you can find:
                          tr
                            td(align='left')
                              ul(type='square')
                                li
                                  a(href="http://kb.ufora.com/img/Fora-Quick-Reference-2014-Feb-19.pdf") Quick Reference Guide
                                  | : Brief overview of the Fora language syntax and semantics
                                li
                                  a(href="http://kb.ufora.com/index/language.html") Fora Language Reference
                                  | : Full documentation of the Fora language
                                li
                                  a(href="http://kb.ufora.com/index/libraries.html") Fora Builtin Libraries
                                  | : Reference documentation of the Fora built-in libraries
                          tr
                            td(align='left')
                              p
                                | We want to hear from you! Contacting us at 
                                a(href="mailto:support@ufora.com") support@ufora.com
                                |  at any time is the best way to report issues and provide feedback.
                      br
                      hr
                      table(border='0', cellpadding='0', cellspacing='0', width='600')
                        tbody
                          tr
                            td(align='center')
                              p.larger(style='line-height: 2em; margin-bottom: 10px;')
                                a(href='https://#{host}/signup?invite=#{invite_code}', target='_blank')
                                  | Activate your Ufora account and get started
                          tr
                            td(align='left', valign='top')
                              p.footer
                                | Access to Ufora is provided for non-commercial purposes only.
                      br
      table(cellpadding='0', cellspacing='0', width='700')
        tbody
          tr
            td(align='left')
              p.footer
                | Ufora, 115 West 27th Street 7th Floor, New York NY 10001
            td(align='right')
              p.footer(align='right')
                a(href='http://www.ufora.com', target='_blank') www.ufora.com

