span.toolbar
    button#send_announcement Send Announcement

div#table.tab-content
    table#accounts_data_table
        thead
            tr
                th
                    input#select_all_accounts(type="checkbox", name='select_all')
                th Full Name
                th Email
                th Created on
        tbody
            each user in users
                tr
                    td
                        input(type="checkbox", name="account", id="#{user.email}")
                    td
                        a(href="#") #{user.first_name} #{user.last_name}
                    td #{user.email}
                    td #{user.creation_time}
