span.toolbar
    button#new_candidate New
    button#upload_candidates Upload
    button#email_candidates Send email
    button#delete_candidates Delete

div#candidates.tab-content
    table#candidates_data_table
        thead
            tr
                th
                    input#select_all_candidates(type="checkbox")
                th Full Name
                th Email
                th Add date
                th Last email
        tbody
            each candidate in candidates
                tr
                    th
                        input(type="checkbox", name="candidate", id="#{candidate.email}")
                    td #{candidate.first_name} #{candidate.last_name}
                    td #{candidate.email}
                    td #{candidate.created_time}
                    td #{candidate.last_email_time}


div#upload_popup(title="Upload candidate list")
    p Select candidate file to upload.
    p 
        | The file should be comma-seperated with the following format:
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;First Name,Last Name,email
    form#upload_form(action="/admin/candidates/upload", method="POST", enctype="multipart/form-data")
        input.form-field(type="file", name="candidates[]", required="required")

div#new_candidate_popup(title="New Candidate")
    p All fields are required.
    form#new_candidate_form(action="/admin/candidates", method="POST",
            enctype="multipart/form-data")
        div.input-div
            div.form-field
                label(for="first_name") First name
                input(type="text", spellcheck="false", id="first_name", name="first_name",
                    required="required")
            div.form-field
                label(for="last_name") Last name
                input(type="text", spellcheck="false", id="last_name", name="last_name",
                    required="required")
            div.form-field
                label(for="email") Email
                input(type="email", spellcheck="false", id="email", name="email",
                    required="required")
