span.toolbar
    button#approve_requests Send Invitation

div#invitation_requests
    table#invitation_requests_data_table
        thead
            tr
                th
                    input#select_all_invitation_requests(type="checkbox")
                th Full Name
                th Email
                th Request Time
                th From Candidate?
        tbody
            each request in requests
                tr
                    th
                        input(type="checkbox", name="invitation_request", id="#{request.email}")
                    td #{request.first_name} #{request.last_name}
                    td #{request.email}
                    td #{request.request_time}
                    td #{request.email_code == '' ? "False" : "True"}


