span.toolbar
    button#new_invitation New

div#pending_invitations.tab-content
    table#pending_invitations_data_table
        thead
            tr
                th
                    input#select_all_pending_invitations(type="checkbox")
                th Full Name
                th Email
                th Invitation Code
                th Sent At
        tbody
            each invitation in invitations
                tr
                    th
                        input(type="checkbox", name="invitation", id="#{invitation.invite_code}")
                    td #{invitation.first_name} #{invitation.last_name}
                    td #{invitation.email}
                    td #{invitation.invite_code}
                    td #{invitation.invite_time}


div#new_invitation_popup(title="New Invitation")
    p Send invitation to:
    form#new_invitation_form(action="/admin/pending_invitations", method="POST",
            enctype="multipart/form-data")
        div.form-field
            label(for="first_name") First name
            input(type="text", spellcheck="false", id="first_name", name="first_name",
                required="required")
        div.form-field
            label(for="last_name") Last name
            input(type="text", spellcheck="false", id="last_name", name="last_name",
                required="required")
        div.form-field
            label(for="email") Email
            input(type="email", spellcheck="false", id="email", name="email",
                required="required")
