extends layout-dark
block head
    - if (typeof clusterType === "undefined" || clusterType == "public")
        script.
            function showConfirmationPopup() {
                stopSpin();
                $("#completion-message").dialog("open");
            }
            function showSubmitError(response) {
                stopSpin();
                $("#email-div").append('<span class="error_message">We\'re sorry. An error occurred ' +
                    'while processing your request. Please try again.</span>');
                console.error('Error: ' + response.status + ' ' + response.statusText + '. ' +
                    response.responseText);
            }

            $(function() {
                window.addEventListener("load", function() { $("#username").focus(); }, false);

                $("#completion-message").dialog({
                    autoOpen: false,
                    modal: true,
                    resizable: false,
                    buttons: {
                        Close: function() {
                            $(this).dialog("close");
                            window.location.replace("/");
                        }
                    }
                });

                $("#request-form").ajaxForm();
                $("#request-form").unbind('submit').submit(function() {
                    startSpin();
                    $(this).ajaxSubmit({success: showConfirmationPopup, error: showSubmitError});

                    // !!! IMPORTANT !!!
                    // must return false to prevent the standard browser submit
                    return false;
                });
            });
    - else
        script

block content
    - if (typeof clusterType === "undefined" || clusterType == "public")
        div.top-message
            h2 Request Invitation
            p
                | Ufora is currently running a limited-access beta program.&nbsp;
                | Please fill out the form below to request an invitaion.

        div.popup
            form#request-form(action="#{url}", method="post")

                div#firstname-div
                    label(for="first_name")
                    strong First Name
                    input(type="text", spellcheck="false", id="first_name", name="first_name",
                        required="required", value="#{first_name}")

                div#lastname-div
                    label(for="last_name")
                    strong Last Name
                    input(type="text", spellcheck="false", name="last_name", id="last_name", required="required",
                        value="#{last_name}")

                div#email-div
                    label(for="email")
                    strong Email
                    input(type="email", name="email", id="email", required="required", value="#{email}")

                input(type="hidden", name="email_code", value="#{email_code}")

                div.popup-bar
                    input.button.button-submit(type="submit", value="Submit Request", id="submit")

            div#completion-message(title="Thank You")
                p
                    | We appreciate your interest in Ufora.
                    br
                    | You should receive an email confirming your invitation request shortly.

    - else
        div.top-message
            h2 Request Access
            p
                | Please send an email to support@ufora.com to request access to this cluster.

