extends layout-dark


block head
    script.
        $(function() {
            function signupComplete(response) {
                stopSpin();
                window.location.replace('/');
            }

            function showSubmitError(response) {
                stopSpin();
                $(".message-area").append('<span class="error_message">We\'re sorry. An error occurred ' +
                    'while processing your request. Please try again.</span>').
                    css("visibility", "visible");
                console.error('Error: ' + response.status + ' ' + response.statusText + '. ' +
                    response.responseText);
            }

            $("#signup-form").unbind('submit').submit(function() {
                $(".error_message").remove();
                $(".message_area").css("visibility", "hidden");
                startSpin();

                $(this).ajaxSubmit({
                    success: signupComplete,
                    error: showSubmitError
                });

                // !!! IMPORTANT !!!
                // must return false to prevent the standard browser submit
                return false;
            });

            $("#confirm-password").on('input', function(evt) {
                evt.target.setCustomValidity('');
                if ($("#password").val() != evt.target.value) {
                    evt.target.setCustomValidity("Passwords must match");
                }
            });
        });

block content
    div.top-message
        if error == ''
        h2 Sign Up
        p
            | Please fill out the form below to create and activate your account.

    div.popup
        if error == 'no-invite-code'
            div#no-invite-code.error-message
                p
                | Sign-up to Ufora is by invitation only at this point.
                | If you received an invitation email from us, please click the link
                | found in your invitation email.
                p
                a(href='/signup/request_invitation') Click here
                |  to request an invitation if you have not received an invitation email.
        else if error == 'invalid-invite-code'
            div#invalid-invite-code.error-message
                p
                | The invitation code you used was not recognized by our system.
                p
                | Invitation codes can only be used once. If you have already signed up using this
                | code please 
                a(href="/login") log in here.
                p
                | If you have not signed up yet, your invitation code may have expired.
                br
                | Please email 
                a(href="mailto:support@ufora.com") support@ufora.com
                |  to request a new invitation.
        else
            div.form-wrapper
                form#signup-form(action="#{url}", method="post")
                    div.input-div
                        div.form-field
                            label(for="first_name") First Name
                            input(type="text", spellcheck="false", id="first_name", name="first_name",
                                required="required", value="#{first_name}")
                        div.form-field
                            label(for="last_name") Last Name
                            input(type="text", name="last_name", id="last_name", required="required",
                                value="#{last_name}")
                        div.form-field
                            label(for="email") Email
                            input(type="email", name="email", id="email", required="required", value="#{email}")
                        div.form-field
                            label(for="password") Password
                            input(type="password", name="password", id="password", required,
                                pattern='(?:(?=.*[a-z])(?:(?=.*[A-Z])(?=.*[\\d\\W])|(?=.*\\W)(?=.*\\d))|(?=.*\\W)(?=.*[A-Z])(?=.*\\d)).{8,}',
                                title='Passwords must be at least 8 characters long and contain characters from 3 of the following groups:\n1. Upper case\n2. Lower case\n3. Numbers\n4. Symbols (non-alpha-numeric).',
                                placeholder="At least 8 characters")
                        div.form-field
                            label(for="confirm-password") Confirm
                            input(type="password", name="confirm-password", id="confirm-password",
                                required="required", placeholder="Retype your password")

                    div.popup-bar
                        input.button.button-submit(type="submit", value="Sign up", id="submit")

            div.message-area

